body{
    font-family: Helvetica, sans-serif;
    height: vh;
    background: linear-gradient(180deg, var(--bg_secondary) 0%, var(--bg_secondary) 15%, var(--bg_primary) 15%, var(--bg_primary) 100%);
}

:root{
    --bg_primary: #dadbd2;
    --bg_secondary: #009688;
    --grey_lighter: #eaeaea;
    --grey_dark: #b1b1b1;
    --banner: #8edafc;
    --my_message: #d5f9ba;
}

.my_container{
    max-width: 1152px;
    width: 80%;
    margin: auto;
    height: 95vh; 
}

img{
    width: 50px;
}

.grey_dark{
    color: var(--grey_dark);
}

/*Left*/
.header_left{
    background-color: var(--grey_lighter);
    align-items: center;
}


/*Banner*/
.banner{
    background-color: var(--banner);
    align-items: center;
}

.banner i{
    color: var(--banner);
}

.banner .text_banner{
    line-height: 1rem;
}

.search{
    background-color: var(--grey_lighter);
}

.contacts_list{
    overflow-y: auto;
    max-height: 450px;
}

.info_contact{
    padding-left: 1rem;
    line-height: 0.5rem;
}

.avatar:hover{
    background-color: var(--grey_lighter);
}
